<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inzynier.michau.przedszkoletecza">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize|stateHidden"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginForm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterForm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnnoucementsPage"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".EditAbsenceDay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RemarkPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ChildProgressChart" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".SelectContext" />
        <activity android:name=".MiddleSwitchContext" />
        <activity android:name=".PhisicalProgress" />
        <activity android:name=".MentalProgress" />
        <activity android:name=".SocialProgress" />
        <activity android:name=".AdditionalAchievements" />
        <activity android:name=".TrustedPersonActivity" />
        <activity android:name=".AlergyActivity" />
        <activity android:name=".ConsultationActivity" />
        <activity android:name=".AddConsultation" />
        <activity android:name=".AddTopic" />
        <activity android:name=".AddComment" android:windowSoftInputMode="adjustResize|stateHidden"/>
    </application>

</manifest>